{{>header}}
{{>navbar}}
<div class="container mt-5 mb-5">
  <section>
        <div class="container">
          <div class="row mt-1">
            <div class="col">
              <h3>Wiki Games</h3>
            </div>
          </div>
          {{#if datas}}
          <div class="row">
            {{#each datas}}
            <div class="col-3 mt-4">
              <div class="card" style="background-color: #d1d1d1; !important;">
                <img src="../uploads/{{this.photo}}" class="card-img-top" alt="coffe" />
                <div class="card-body">
                  <h5 class="card-title">{{this.name}}</h5>
                  <p class="card-text">Type: {{this.types_name}}</p>
                  <a href="/detail-hero/{{this.id}}" class="btn badge bg-success">Detail</a>
                  <a href="/edit-hero/{{this.id}}" class="btn badge bg-dark">Edit</a>
                  <a href="/delete-hero/{{this.id}}" onclick="return alert('Are You Sure ?')" class="btn badge bg-danger">Delete</a>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
          {{/if}}
        </div>
  </section>
</div>
